[Unit]
Description=Similar OpenStack API Service
After=syslog.target network.target

[Service]
Type=simple
ExecStart=/usr/bin/similar-api \
    --config-file /etc/similar/similar.conf \
    --log-file /var/log/similar/api.log
Restart=always

[Install]
WantedBy=multi-user.target